html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", sans-serif;
  font-weight: 400;
  color: #fff;

  background: #fff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.img {
  max-width: 100%;
}

.btn {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visible-hidden {
  display: none;
}

.container  {
  width: 940px;
  margin: 0 auto;
}

.flex--between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex--around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* padding is null*/

.footer-bottom__items,
.header-main__user,
.breadcrumbs-nav,
.main-content-catalog__list {
  padding: 0;
}

.header {
  background-color: #f2f6f8;
}

.header-top {
  background-color: #293449;
}

.header-top .container {
  min-height: 45px;
}

.header-top:hover {
  background-color: #212a3a;
}

.header-top__logo-img {
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header-top__logo-img:hover {
  background-color: #ca2c37;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header-top__logo-img:focus {
  background-color: #ba2732;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header-top__form-input[type="text"] {
  background-color: #293449;
  border-color: transparent;
}

.header-top__form-input[type="text"]::first-letter {
  text-transform: uppercase;  /* ? */
}

.header-top__form-input[placeholder]::-webkit-input-placeholder {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.header-top__form-input[placeholder]::-moz-placeholder {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.header-top__form-input[placeholder]:-moz-placeholder {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.header-top__form-input[placeholder]:-ms-input-placeholder {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.header-top__form-input:focus {
  background-color: #ffffff;
}

.header-top__bookmarks:focus {
  background-color: #161d29;
}

.header-top__basket:focus {
  background-color: #161d29;
}

.header-top__order {
  background-color: #63a63e;

}

.header-top__order:hover {
  background-color: #5fbb2d;
}

.header-top__order:focus {
  background-color: #518534;
}

.header-main__title {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
  width: 195px;
}

.header-main__info {
  display: flex;
  flex-direction: column;

}

.header-main__info-telephone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  width: 270px;
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-main__info-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-main__user {
  display: flex;
  flex-direction: row;
  min-width: 280px ;
}

.header-main__user-enter {
  width: 121px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45px;
  margin-right:10px;
}

.header-main__user-registration {
  width: 150px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45px;
}

.header-main__user-enter,
.header-main__user-registration{
  list-style: none;
}

.header-main__user-enter-ref,
.header-main__user-registration-ref {
  font-size: 21px;
  color: #000;

}

.header-main__user-enter-ref:hover,
.header-main__user-registration-ref:hover {
  color: #f15964;
}
.header-main__user-enter-ref:focus,
.header-main__user-registration-ref:focus {
  color: #c9c9c9;
}


.header-bottom {
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
  min-height: 60px;
}


.header-bottom__nav-list {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

.header-bottom__nav-items {
  list-style: none;
}

.header-bottom__nav-items:hover {
  background-color: #293449;
}

.header-bottom__nav-items:focus {
  background-color: #1d2739;
}

.header-bottom__nav-item {
  font-size: 17px;
  line-height: 17px;
  color: #f1f2f4;
}

.header-bottom__nav-item:focus {
  color: #868b95;
}

.about {
  background-color: #ffffff;
}

.about__left {
  width: 520px;
}

.about__left-company {
  font-size: 30px;
  line-height: 24px;
  color: #000;
  text-transform: uppercase;
}

.about__left-text,
.about__left-order {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000;
}

.about__left-item {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  color: #000;
}

.about__left-order__btn {
  width: 220px;
  height: 38px;
  font-size: 14px;
  background-color: #ee3643;
  border: none;
  color: #fff;
}

.about__right {
  width: 300px;
}

.about__right-contacts {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.about__right-offer {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000;
}

.about__right-offer-find-us {
  width: 300px;
  min-height: 38px;
  font-size: 14px;
  background-color: #ee3643;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.footer {
  background-color: #32425c;
}

.footer-top__nav {
  min-height: 95px;
}

.footer-top__nav-list {
  width: 550px;
  display: flex;
  padding-left: 0;
  justify-content: space-between;
}

.footer-top__logo-img {
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer-top__nav-items,
.footer-middle__nav-items,
.footer-bottom__items {
  list-style: none;
}

.footer-top__nav-item {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-top__nav-item:hover {
  text-decoration: underline;
}

.footer-top__nav-item:focus {
  color: #7f8b9b;
}

.footer-middle {
  min-height: 95px;
}

.footer-middle__nav {
  width: 520px;
  display: flex;
  padding-left: 0;
  justify-content: space-between;
}

.footer-middle__address-street,
.footer-middle__address-telephone {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-middle__nav-item {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-middle__nav-item:hover {
  text-decoration: underline;
}

.footer-middle__nav-item:focus {
  color: #98896e;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom__copyright {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.footer-bottom__item {
  text-align: center;
  width: 42px;
  height: 42px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #212a3a;
}

.footer-bottom__item--vk {
  line-height: 2.9;
}

.footer-bottom__item--fb {
  line-height: 3.3;
}

.footer-bottom__item--inst {
  line-height: 3.3;
}

.footer-bottom__item:hover {
  background-color: #ee3643;
}

.footer-bottom__item:focus > .footer-bottom__item-ref  {
  background-color: #ee3643;
}

.footer-bottom__feedback {
  width: 135px;
}

.footer-bottom__developers {
  width: 96px;
}

.footer-bottom__feedback-text,
.footer-bottom__developers-text {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.footer-bottom__feedback-mail,
.footer-bottom__developers-site {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.footer-bottom__feedback-mail:hover,
.footer-bottom__developers-site:hover {
  text-decoration: underline;
}

.footer-bottom__feedback-mail:focus,
.footer-bottom__developers-site:focus {
  color: #ee3643;
  text-decoration: none;
}



/* catalog page */

.header-top__basket--not-empty {
  background-color: #ee3643;
}

.header-main__user-catalog {
  display: flex;
  flex-direction: column;
}

.header-main__user-name {
  font-size: 21px;
  line-height: 21px;
  color: #000;
  border: 1px solid transparent;
  background-color: #fff;
  padding: 14px 69px 11px 47px;
}

.header-main__user-info  {
  display: flex;
  flex-direction: row;
  width: 210px;
  padding-left: 17px;
  padding-right: 47px;

}


.header-main__user-orders {
  margin-right: 30px;
}
.header-main__user-orders,
.header-main__user-room {
  text-decoration: underline;
  list-style: none;
}


.header-main__user-orders-ref,
.header-main__user-room-ref {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.header-main__user-orders-ref:hover,
.header-main__user-room-ref:hover {
  color: #ee3643;
}

.header-main__user-orders-ref:focus,
.header-main__user-room-ref:focus {
  color: #bbc3cb;
}

.breadcrumbs-nav {
  display: flex;
}

.breadcrumbs-nav__items-link-img {
  color: #c1c6ce;
}

.breadcrumbs-nav__items-link,
.breadcrumbs-nav__items-link__current {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-title {
  background-color: #f2f6f8;
}

.catalog-title__main {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  padding: 32px 0 32px 32px;
}

.main-content .flex--between {
  align-items: flex-start;
}

.main-content-filter {
  width: 220px;
}

.main-content-filter__brand-title {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}

.main-content-filter__brand-items-label {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000;
}

.main-content-filter__brand-items-label:disabled {
  opacity: 0.4;
}

.main-content-filter__type-title {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}

.main-content-filter__type-items-label {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000;
}

.main-content-filter__btn {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  width: 140px;
  height: 38px;
}

/* карточка товарв */

.main-content-catalog {
  width: 700px;
}

.main-content-catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-content-catalog__item {
  width: 218px;
  min-height: 318px;
  border: 1px solid black;
  margin-bottom: 21px;
}

.main-content-catalog__item-ref {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
}

.main-content-catalog__item-old-price {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #999;
}

.main-content-catalog__item-new-price {
  border: 1px solid #ee3643;
  background-color: #ee3643;
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  display: block;
}

.main-content-catalog__item-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content-catalog__item-user-buy {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  text-align: center;
  width: 135px;
  min-height: 38px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content-catalog__item-user-buy:hover {
  background-color: #5fbb2d;
  box-shadow: inset 0 -3px 0 #367315;
}

.main-content-catalog__item-user-buy:focus {
  background-color: #518534;
}

.main-content-catalog__item-user-bookmarks {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: 3px solid #63a63e;
  text-align: center;
  width: 135px;
  min-height: 38px;
  color: #32425c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content-catalog__item-user-bookmarks:hover {
  border: 3px solid #32425c;
}

.main-content-catalog__item-user-bookmarks:focus {
  border: 3px solid #32425c;
  opacity: 0.3;
}


/* сетка */






