html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", sans-serif;
  font-weight: 400;
  color: #fff;

  background: #fff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.img {
  max-width: 100%;
}

.btn {
  text-transform: uppercase;
}

.visible-hidden {
  display: none;
}

.header {
  background-color: #f2f6f8;
}

.header-top {
  background-color: #293449;
}

.header-top:hover {
  background-color: #212a3a;
}

.header-top__logo-img {
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header-top__logo-img:hover {
  background-color: #ca2c37;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header-top__logo-img:focus {
  background-color: #ba2732;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header-top__form-input[type="text"] {
  background-color: #293449;
  border-color: transparent;
  text-transform: capitalize; /* здесь по меому другое свойство нужно */
}

/*.header-top__form-label:focus {*/
  /*color: #151515;*/
/*}*/

.header-top__form-input[placeholder]::-webkit-input-placeholder {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.header-top__form-input[placeholder]::-moz-placeholder {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.header-top__form-input[placeholder]:-moz-placeholder {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.header-top__form-input[placeholder]:-ms-input-placeholder {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.header-top__form-input:focus {
  background-color: #ffffff;
}

.header-top__bookmarks:focus {
  background-color: #161d29;
}

.header-top__basket:focus {
  background-color: #161d29;
}

.header-top__order {
  background-color: #63a63e;
}

.header-top__order:hover {
  background-color: #5fbb2d;
}

.header-top__order:focus {
  background-color: #518534;
}

.header-main__title {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.header-main__info {
  border: 3px solid #ffffff;
  text-align: center;
}

.header-main__info-telephone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-main__info-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-main__user {
  display: flex;
  flex-direction: row;
  max-width: 280px;
  justify-content: space-between;

}

.header-main__user-enter {
  width: 120px;
  flex-grow: 1;
  display: flex;
}

.header-main__user-registration {
  width: 150px;
  flex-grow: 1;
  display: flex;
}

.header-main__user-enter,
.header-main__user-registration{
  list-style: none;
}

.header-main__user-enter-ref,
.header-main__user-registration-ref {
  font-size: 21px;
  color: #000;
  padding: 1em 2.4em;
  border: 1px solid black;
}

.header-main__user-enter-ref:hover,
.header-main__user-registration-ref:hover {
  color: #f15964;
}
.header-main__user-enter-ref:focus,
.header-main__user-registration-ref:focus {
  color: #c9c9c9;
}


.header-bottom {
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
}

.header-bottom__nav-items {
  list-style: none;
}

.header-bottom__nav-items:hover {
  background-color: #293449;
}

.header-bottom__nav-items:focus {
  background-color: #1d2739;
}

.header-bottom__nav-item {
  font-size: 17px;
  line-height: 17px;
  color: #f1f2f4;
}

.header-bottom__nav-item:focus {
  color: #868b95;
}

.about {
  background-color: #ffffff;
}

.about__left-company {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 24px;
  color: #000;
  text-transform: uppercase;
}

.about__left-text,
.about__left-order {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000;
}

.about__left-item {
  list-style: none;
}

.about__left-item-ref {
  font-size: 18px;
  line-height: 20px;
  color: #000;
}

.about__left-order__btn {
  width: 220px;
  height: 38px;
  font-size: 14px;
  background-color: #ee3643;
  border-color: transparent;
  color: #fff;
}

.about__right-contacts {
  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.about__right-offer {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000;
}

.about__right-offer-find-us {
  display: inline-block;
  width: 300px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  color: #fff;
  text-align: center;
}

.about__right-offer-find-us-text {
  vertical-align: center;
  text-transform: uppercase;
}

.footer {
  background-color: #32425c;
}

.footer-top__logo-img {
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer-top__nav-items,
.footer-middle__nav-items,
.footer-bottom__items {
  list-style: none;
}

.footer-top__nav-item {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-top__nav-item:hover {
  text-decoration: underline;
}

.footer-top__nav-item:focus {
  color: #7f8b9b;
}

.footer-middle__address-street,
.footer-middle__address-telephone {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-middle__nav-item {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-middle__nav-item:hover {
  text-decoration: underline;
}

.footer-middle__nav-item:focus {
  color: #98896e;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom__copyright {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.footer-bottom__items {
  text-align: center;
}

.footer-bottom__feedback-text,
.footer-bottom__developers-text {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.footer-bottom__feedback-mail,
.footer-bottom__developers-site {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.footer-bottom__feedback-mail:hover,
.footer-bottom__developers-site:hover {
  text-decoration: underline;
}

.footer-bottom__feedback-mail:focus,
.footer-bottom__developers-site:focus {
  color: #ee3643;
  text-decoration: none;
}



/* catalog page */

.header-top__basket--not-empty {
  background-color: #ee3643;
}

.header-main__user-name {
  font-size: 21px;
  line-height: 21px;
  color: #000;
  border: 1px solid transparent;
  background-color: #fff;
  padding: 10px 30px;
}

/*.header-main__user-orders {*/
  /*list-style: none;*/
/*}*/

.header-main__user-orders,
.header-main__user-room {
  text-decoration: underline;
  list-style: none;
}


.header-main__user-orders-ref,
.header-main__user-room-ref {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.header-main__user-orders-ref:hover,
.header-main__user-room-ref:hover {
  color: #ee3643;
}

.header-main__user-orders-ref:focus,
.header-main__user-room-ref:focus {
  color: #bbc3cb;
}

.breadcrumbs-nav__items-link-img {
  color: #c1c6ce;
}

.breadcrumbs-nav__items-link,
.breadcrumbs-nav__items-link__current {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-title {
  background-color: #f2f6f8;
}

.catalog-title__main {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  padding: 32px 0 32px 32px;
}

.main-content-filter__brand-title {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}

.main-content-filter__brand-items-label {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000;
}

.main-content-filter__brand-items-label:disabled{
  opacity: 0.4;
}

.main-content-filter__type-title {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}

.main-content-filter__type-items-label {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000;
}

.main-content-filter__btn {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  width: 140px;
  height: 38px;
}

/* карточка товарв */


.main-content-catalog__item-ref {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000;
}

.main-content-catalog__item-old-price {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #999;
}

.main-content-catalog__item-new-price {
  border: 1px solid #ee3643;
  background-color: #ee3643;
}

.main-content-catalog__item-new-price-ref {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
}

.main-content-catalog__item-user {
  display: flex;
  flex-direction: column;
}

.main-content-catalog__item-user-buy {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  text-align: center;
  width: 135px;
  padding: 15px 45px;
  margin-bottom: 10px;
}

.main-content-catalog__item-user-buy:hover {
  background-color: #5fbb2d;
  box-shadow: inset 0 -3px 0 #367315;
}

.main-content-catalog__item-user-buy:focus {
  background-color: #518534;
}

.main-content-catalog__item-user-bookmarks {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: 3px solid #63a63e;
  text-align: center;
  width: 135px;
  padding: 15px 45px;
  color: #32425c;
}

.main-content-catalog__item-user-bookmarks:hover {
  border: 3px solid #32425c;
}

.main-content-catalog__item-user-bookmarks:focus {
  border: 3px solid #32425c;
  opacity: 0.3;
}





